  <aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Rental Property</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Casa Colette, Mal Pais, Costa Rica</h2>
              <div class="airbnb-embed-frame" data-id="{{ site.airbnb_id }}" data-view="home" style="width: 450px; height: 300px; margin: auto;"><a href="https://www.airbnb.com/rooms/{{ site.airbnb_id }}?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget">View On Airbnb</a><a href="https://www.airbnb.com/rooms/{{ site.airbnb_id }}?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget" rel="nofollow">Home in Puntarenas Province · ★4.82 · 1 bedroom · 1 bed · 1 bath</a><script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script></div>
              <a href="https://www.airbnb.com/rooms/{{ arbnb_id }}" target="_blank" rel="noopener noreferrer" class="btn btn-default btn-xl wow tada">Available on AirBnB</a>
          </div>
      </div>
  </aside>
