<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">I am a Professional Web Application Developer working in higher education & freelance with over 20 years of experience. Specialties include HTML5, CSS, JavaScript, XML, RSS, PHP, NodeJS, Angular, MySQL, ColdFusion, Java, Oracle, VS Code, Photoshop, Microsoft Office Suite, RHEL/CentOS, Windows, macOS, Toad for Oracle, BrioQuery/Hyperion, R, RStudio, SPSS, LimeSurvey, WordPress, Qualtrics, Tableau, Elasticsearch, Kibana, Dremio</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Services</a>
            </div>
        </div>
    </div>
</section>
