<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contatct</h2>
                <hr class="primary">
                <p>If you're interested in starting a new project, you can send me an email and I will respond when
                    available.</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="javascript:void(0);" onclick="contactMe()" rel="noopener noreferrer">
                    <i class="fa-solid fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
                <script>
                    function contactMe() {
                        var username = '{{ site.email | split: "@" | first }}';
                        var domain = '{{ site.email | split: "@" | last }}';
                        window.location.href = 'mailto:' + username + '@' + domain;
                    }
                </script>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
        </div>
    </div>
</section>