<section class="no-padding" id="portfolio">
    <div class="container-fluid" style="margin-bottom: 10px !important">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/mnw.png" class="img-responsive rounded mx-auto" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Freelance
                            </div>
                            <div class="project-name">
                                myNetWatchman<br>
                                <span>Create feasibility study for data visualization (Dashboards), Develop multiple
                                    dashboards from various datasources</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/firstlake.png" class="img-responsive rounded mx-auto" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Freelance
                            </div>
                            <div class="project-name">
                                1st Lake Property Management<br>
                                <span>Integrated custom property management system into WordPress.</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/deepdream.png" class="img-responsive rounded mx-auto" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Freelance
                            </div>
                            <div class="project-name">
                                Magical Deep Dream” MTV VMA Promo for Miley Cyrus<br>
                                <span>Video effects rendering using Amazon Web Services EC2 GPU enabled custom built
                                    server, utilizing customized code and Google’s Deep Dream convolutional neural
                                    network. Video effects were aired as promos during MTV’s 2015 VMAs.</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
</section>