<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include blog-nav.html %}
  {% include header-blog.html %}

  <section class="bg-primary" id="404">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">404</h2>
          <hr class="light">
          <p>The requested page could not be found.</p>
        </div>
      </div>
    </div>
  </section>

  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>